.App-header {
  min-height: 100vh;
  color: white;  
}
header, footer {
  background-color: #fcf9f4; /* #687864 #374153*/
  color: white;
  padding: 1px 0;
}
header {
  margin-bottom: 0px;  
  font-size: 20px;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 1; 
}
header h5 {
  color: white;
}
footer {
  margin-top: 50px;
  font-size: 14px;
}
.card {
  margin-top: 10px;
}
a, a:hover {
  color: #282c34;
  text-decoration: none;
}
video {
  width: 100%;
  height: 50vh;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
img {
  height: 200px;
  object-fit: cover;
}
.videoTitle{
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 900;
} 
.videoDescription{
  margin-bottom: 0px;
  font-size: 12px;
} 
.card-body{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  width: fit-content;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 1px;
}
.form-control{
  height: 30px;
  padding-top: 5px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
